/* Container principal */
.CadastroProfissionais {
  max-width: 600px;
  margin: 40px;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* Card do formulário */
.form-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-card label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #333;
}

.form-card input {
  margin-top: 6px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: all 0.2s;
}

.form-card input:focus {
  outline: none;
  border-color: #0d6efd;
  box-shadow: 0 0 4px rgba(13, 110, 253, 0.4);
}

/* Botão */
.form-actions{
  display: flex;
  justify-content: right;
}

.form-actions .primary {
  padding: 10px 25px;
  background: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.form-actions .primary:hover {
  background: #0b5ed7;
}




