.TransferenciaVacina {
  margin: 40px auto;
  max-width: 500px;
  margin: 30px;
}

.TransferenciaVacina h2 {
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.form-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.form-card label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #444;
}

.form-card input,
.form-card select {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.2s ease;
}

.form-card input:focus,
.form-card select:focus {
  border-color: #1877f2;
  outline: none;
}

.form-actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  
}

.primary {
  background: #1877f2;
  color: #fff;
  font-size: 16px;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  font-weight: 600;
}

.primary:hover {
  background: #145fc7;
}

.primary:active {
  background: #0e46a1;
}

@media (max-width: 600px) {
  .form-card {
    grid-template-columns: 1fr;
  }
}
