/* ===== PAGE WRAPPER ===== */
.pageListarTransferencia {
  max-width: 900px;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}


/* ===== TABELA PRINCIPAL===== */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  background: #0a6bdf;
  color: white;
}

.table th,
.table td {
  padding: 12px 14px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

.table tbody tr:hover {
  background: #eef7ff;
}

/* ===== FORMULÁRIO DE EDIÇÃO ===== */
.form-card {
  margin-top: 30px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
}

.form-card label {
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
  color: #444;
}

.form-card input,
.form-card select {
  width: 95%;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 5px;
  background: #fafafa;
  font-size: 14px;
}

.form-card input:focus,
.form-card select:focus {
  outline: none;
  border-color: #0066cc;
  background: #fff;
}



/* ===== AÇÕES DO FORMULÁRIO ===== */
.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.form-actions .primary {
  background: #0066cc;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  flex: 1;
}

.form-actions button {
  flex: 1;
  padding: 10px 16px;
  border-radius: 8px;
  background: #ff0101;
  color: white;
  border: none;
  cursor: pointer;
}


